/* ==================================================
  Layout General
================================================== */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* ==================================================
  Navegación
================================================== */
nav {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
}

nav a {
  text-decoration: none;
  color: #bebebe;
  letter-spacing: -6%;
  line-height: 90%;
}
nav img{
  width: 3.05rem;
  height: 3.05rem;
}

/* ==================================================
  Contenido Principal
================================================== */
main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vh;
  z-index: 10;
}

.main-bg {
  position: absolute;
  z-index: -1;
}

.bg{
  font-size: 7.44rem;
  line-height: 110%;
  letter-spacing: -2%;
}

/* ==================================================
  Footer
================================================== */
footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.2s ease-in-out;
}

.footer-center a:hover {
  color: rgb(80, 140, 252);
}
