/* ==================================================
  Layout General
================================================== */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* ==================================================
  Navegación
================================================== */
nav {
  height: 5vh;
  display: flex;
  align-items: center;
  margin: 0.5rem 3rem;
}

nav a {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.2s ease-in-out;
}

/* ==================================================
  Contenido Principal
================================================== */
main {
  position: relative;
  width: 100vw;
  height: 100%;
}

.main-menu {
  z-index: 10;
  position: absolute;
  top: 5%;
  left: 1%;
  background: #ffffff15;
  width: 30%;
  height: 90%;
}

.main-menu ul, .main-menu li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.main-info {
  z-index: 10;
  position: absolute;
  top: 5%;
  right: 1%;
  background: #ffffff15;
  width: 30%;
  height: 90%;
}

/* ==================================================
  Footer
================================================== */
footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.2s ease-in-out;
}

.footer-center a:hover {
  color: rgb(80, 140, 252);
}
